footer {
    padding: 15px;
    font-family: $font-principal;
    background-image: linear-gradient(to top,  $background-color, white);
    display: grid;
    grid-template-areas: " indice logo redes"
                        "  indice none derechos"; 
    .footer{
        &__indice {
            grid-area: indice;
            & ul li{
                list-style: none;
                & a:visited{
                    color: #f42d3d;
                }
            } 
        }
        &__logo{
            grid-area: logo;
            @include flex(flex,center,column);
            align-items: center;
            text-align: center;
            &--grid{
                width: 10vh;
            }
        }
        &__networks {
            grid-area: redes;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3vh;
            margin: 15px;
        }
        &__rights {
            @include fonts(10px, $font-principal);
            grid-area: derechos;
            @include flex(flex,center,column);
            text-align: center;
        }
    }
}

