header {
    background-image: linear-gradient(to bottom,  #e1e1bfc1, white);
    font-family: $font-titles;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    .header{
        display: flex;
        background-image: linear-gradient(to bottom,  #d8d8cdd5, white);
        &__logo {
            width: 50px;
            height: 50px;
            margin: 10px;
            display: flex;
        }
    }
    .nav-link:visited{
        color: #f42d3d;
    } 
}

