/* PAGE: INDEX */
.presentation{
    display: grid;
    height: 100vh;
    background-image: url("../resources/mujer-playa.jpg");
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
        &__text{
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 15px;
            color: $color-title;
            text-shadow: 1px 2px 2px white;
            font-size: $size-titles;
            display: flex;
            align-items: flex-start;
            justify-content:center ;
        }
}
.indexconteiner {
    color: $color-title;
    @include fonts($size-titles, $font-titles);
    background-color: $background-color;
    text-align: center;
    @include flex (flex, space-between,row);
    
}
.introduction{
    @include fonts($size-text, $font-principal);
    line-height: 1,5;
}

.cardconteiner{
    width: 600px;
    margin: 15px;
    display: flex;
    flex-direction: row;
}
.cardone{
    margin: 10x;
    padding: 10px;
}
.cardtwo{
    margin: 10x;
    padding: 10px;
}