/* MAIN */
h1{
    color: $color-title;
    font-family: $font-titles;
    font-size: $size-titles;
    display: flex;
    justify-content: center;
    
    
}
p {
    font-family: $font-principal;
    font-size: $font-principal;
    padding: 16px;
}
h3{
    color: $color-title;
    font-family: $font-titles;
    background-color: $background-color;
    text-align: left;
}
span{
    font-family: $font-principal;
    font-size: $font-principal;
}
a{
    font-size: $font-principal;
    color: $color-principal;
    text-decoration: none;
}
.nav-link:visited{
    color: #f42d3d;
} 
.btn {
    color: $color-title;
    border: solid $color-principal 1px;
    &:hover{
        background-color: rgba(250, 235, 215, 0.71);
        transform: scale(1.1 , 1.1);
        border: solid $color-principal 1px;
        color: $color-principal;
    }
}
.ws {
    position: sticky;
    bottom: 0px;
    right: 10px;
    display:flex;
    justify-content: end;
    &__img {
        width: 30px;
        
    }
}

.card{
    height: auto;
    margin: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 1px solid #949491fc;
}


.city-items{
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    & :hover{
        transform: scale(1.1, 1.1);
    } 
}


.img-fluid{
    margin: 15px;
    padding: 15px;
}

