/* media querie CELULAR */
@media (min-width:320px ) and (max-width: 575px) {

    /* HEADER */

    header {
        flex-wrap: wrap;
        position:unset;

        &__searchbar {
            flex-direction: column; 
            flex-grow: 0;
        }
        &__item{
            flex-direction: column;
        }
}
    /* PAGE: INDEX */

    .presentation{
        grid-template-columns: 1fr;
        &__text{
            grid-row: 1/2;
            font-size: $size-text;
            }
    }
    
    .indexconteiner {
        flex-direction: column;
    }
    /* PAGE CONTACTO */
    .ocultar{
        display: none;
    }
    .btn{
        margin: 10px;
        padding: 10px;
    }


    /* PAGE: LA CIUDAD */
    .city{
        &-items{
        display: flex;
        flex-direction: column; 
        margin: auto;
            & :hover{
            transform: none;
            } 
        }
        &-video{
            padding: 10px;
        }
        &-map{
            padding: 10px;
        }
    }

    /* FOOTER */

    footer {
        grid-template-areas: "logo"
                            "indice"
                            "redes"
                            "derechos";
        .footer{
            a{
                font-size: 10px;
            }
            &__logo--grid{
                width: 10vh;
            }
            &__networks {
                height: 3vh;
            }
            &__rights{
                font-size: 10px;
            }  
        }
    }
}

/*  media querie TABLET */
@media (min-width:576px ) and (max-width: 992px) {

    /* HEADER */
    .header__searchbar {
        flex-grow: 0;
    }
    /* PAGE CONTACTO */
    .ocultar{
        display: none;
    }
    .btn{
        margin: 10px;
        padding: 10px;
    }

}