  /* COLORS */
$color-principal: black;
$color-title:rgb(68, 67, 67);

  /* BACKGROUND */
$background-color: #cececac1;

  /* FONTS */
$font-principal: 'Roboto', sans-serif;
$font-titles: 'Joan', serif;

  /* FONT SIZE */
$size-text: 1rem;
$size-titles: $size-text * 3 ;

