@import "operators";
@import "variables";
@import "footer";
@import "header";
@import "main";
@import "nav";
@import "gallery";
@import "index";
@import "contactform";
@import "mediaqueries";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




