@import "variables";
@import "footer";
@import "header";
@import "nav";
@import "mediaqueries";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* MAIN */
h1{
    color: rgb(106, 105, 102);
    font-family: $font-titles;
    font-size: 35px;
    display: flex;
    justify-content: center;
    
    
}
p {
    font-family: $font-principal;
    padding: 16px;
}
h3{
    color: rgb(106, 105, 102);
    font-family: $font-titles;
    background-color: #bcbcb166;
    text-align: left;
}
span{
    font-family: $font-principal;
    font-size: 25px;
}
a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.btn {
    color: black;
    border: solid black 1px;
    &:hover{
        background-color: rgba(250, 235, 215, 0.71);
        transform: scale(1.1 , 1.1);
        border: solid black 1px;
        color: black;
    }
}
/* PAGE: INDEX */
.presentation{
    display: grid;
    height: 100vh;
    background-image: url("../resources/mujer-playa.jpg");
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
        &__text{
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 15px;
            color: rgb(68, 67, 67);
            text-shadow: 1px 2px 2px white;
            font-size: 70px;
            display: flex;
            align-items: flex-start;
            justify-content:center ;
        }
}


.indexconteiner {
    color: rgb(106, 105, 102);
    font-family: $font-titles;
    background-color: #bcbcb166;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.introduction{
    font-family: $font-principal;
    line-height: 1,5;
}
.links{
    padding: 10px;
    color: $color-principal;
    &__img{
        width: 350px;
        margin: 40px;
        display:flex;
        &:hover {
            transform: scale(1.25 , 1.25);
        }
    } 
}

.ws {
    position: sticky;
    bottom: 0px;
    right: 10px;
    display:flex;
    justify-content: end;
    &__img {
        width: 30px;
        
    }
}
/* PAGE: CONTACTO */
.form{
    &__img{
        width: 300px;
        margin: 15px;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }
    &__buttom{
        background-image: linear-gradient(100deg, #f1eacb, #f3f1e8fd );
        border: none;
        color: $color-principal;
        padding: 10px;
    }
}

/* PAGE: FOTOS */

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    .tz-gallery {
        padding: 40px;
    
        &__.lightbox img {
            width: 100%;
            margin-bottom: 30px;
            transition: 0.2s ease-in-out;
            box-shadow: 0 2px 3px rgba(0,0,0,0.2);
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 15px rgba(0,0,0,0.3);
            }
        }
        &__img {
            border-radius: 4px;
        }
        .baguetteBox-button {
            background-color: transparent !important;
        }
    }
}

    



/* PAGE: GUIA DE TRAMITES */

.card{
    height: auto;
    margin: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 1px solid #949491fc;
}


/* PAGE: LA CIUDAD */

.cityitems{
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    
}
.cityitems :hover{
    transform: scale(1.1, 1.1);
}
.img-fluid{
    margin: 15px;
    padding: 15px;
}



